  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <div class="form-group">
      School <%= f.select :school_id, School.all.map{|school| [school.name, school.id]}, :include_blank => true, :prompt => "Select School" %>
    </div>
    <div class="form-group">
<!--       User Type <%#= f.select :type, options_for_select(["Teacher", "Student"]) %> -->
      User Type:
      <%= f.check_box(:type, {}, "Teacher", "Student") %> Teacher
      <%= f.check_box(:type, {}, "Student", "Teacher") %> Student
    </div>
    <div class="form-group">
      Grade Level <%= f.select :grade_level, options_for_select([5, 6, 7, 8]) %>
    </div>
    <div class="form-group">
      <%= f.text_field :first_name, placeholder: "First Name", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :person_id, placeholder: "School Access ID", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :email, placeholder: "Email", class:"form-control"  %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class:"form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
      <%= f.submit "Create my account", class: "button signup-button" %>
    <% end %>
  </div>
