<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.select :school_id, School.all.map{|school| [school.name, school.id]}, :include_blank => true, :prompt => "Select School" %>
      <br>
      <%= f.check_box(:type, {}, checked_value="Teacher") %> Teacher  <%= f.check_box(:type, {}, checked_value="Student") %> Student
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <%= f.text_field :email, placeholder: "Email"  %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

