<% if !signed_in? %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
<div class="carousel-inner">
  <div class="active item">
    <div class="hero-img">
      <%=image_tag 'smiling.jpg'%>
    </div>
  </div>
  <div class="item">
    <div class="hero-img">
      <%=image_tag 'college-bound.jpg'%>
    </div>
  </div>
  <div class="item">
    <div class="hero-img">
      <%=image_tag 'pencils2.jpg'%>
    </div>
  </div>
  <div class="item">
    <div class="hero-img">
      <%=image_tag 'flute.jpg'%>
    </div>
  </div>
  <div class="item">
    <div class="hero-img">
      <%= image_tag 'science_class.jpg', class:"science" %>
    </div>
  </div>
</div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

  <div class="hero-text col-md-5">
    <h1>Register</h1>
    <%= link_to 'Sign up', signup_path, class: "button register-btn col-md-3 col-md-offset-1" %>
  </div>
</div>
<% end %>

<div class="col-md-12 below-hero">
<% if !signed_in? %>
<h1>Character Labs for <br>KIPP School Report Cards</h1>
<% else %>



<h1>Let's Get Started!</h1>
<% end %>
<section class="static-icon-group col-md-10 col-md-offset-1">
  <div class="col-md-4">
    <h3 class="static-icon"><i class="icon-file-text icon-4x"></i></h3>
    <h3>Online Grading</h3>
  </div>
  <div class="col-md-4">
    <h3 class="static-icon"><i class="icon-dashboard icon-4x"></i></h3>
    <h3>Real Time Feedback</h3>
  </div>
  <div class="col-md-4">
    <h3 class="static-icon"><i class="icon-bar-chart icon-4x"></i></h3>
    <h3>Data Analysis</h3>
  </div>
</section>

  <div class="col-md-10 col-md-offset-1">
    <p class="quote">
      <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
      KIPP’s longstanding motto — “Work hard. Be nice.” — isn’t just a tagline. Since KIPP's beginning in 1994, the development of character has been as important to us as the teaching of rigorous academic skills. Together, they are the yin-yang that make our schools come alive. We believe both are critical to the success of our students in college and life.
    </p>
  </div>
  <div class="col-md-12">
    <h1 class="col-md-12">KIPP Character Strengths</h1>
    <div class="static-char-strengths col-md-10 col-md-offset-1">
      <div class="col-md-3">
        <p><i class='icon-thumbs-up-alt icon-large category-icon'></i> Zest</p>
        <p>Approaching life with excitement and energy; feeling alive and activated.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-cloud-upload icon-large category-icon'></i> Grit</p>
        <p>Finishing what one starts; completing something despite obstacles; a combination of persistence and resilience.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-file-text-alt icon-large category-icon'></i> School Work</p>
        <p>Regulating what one feels and does; being self-disciplined and completing school work on time and with intentionality.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-group icon-large category-icon'></i> Interpersonal</p>
        <p>Remains calm in difficult situations, allows others to speak without interruption, and keeps temper in check.</p>
      </div>
      <hr class="col-md-12">
      <div class="col-md-3">
        <p><i class='icon-smile icon-large category-icon'></i> Optimism</p>
        <p>Expecting the best in the future and working to achieve it.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-heart-empty icon-large category-icon'></i> Gratitude</p>
        <p>Being aware of and thankful for opportunities that one has and for good things that happen.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-comments icon-large category-icon'></i> Social Intelligence</p>
        <p>Being aware of motives and feelings of people; including the ability to reason within large and small groups.</p>
      </div>
      <div class="col-md-3">
        <p><i class='icon-eye-open icon-large category-icon'></i> Curiosity</p>
        <p>Taking an interest in experience and learning new things for its own sake; finding things fascinating.</p>
      </div>
    </div>
  </div>

</div>
