
<div class="col-md-6">
    <h3>Report Card Overview</h3>
    <ul>
      <li>Academic Quarter: 1 </li>
      <li>Total Graders: <%= all_graders(@student, 1).length %></li>
      <li>Student Name: <%= @student.first_name %> <%= @student.last_name %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>QUARTER 1 Grade Point</h3>
    <h1><%= cumulative_average(@student, 1) %></h1>
  </div>

  <hr class="col-md-12">

  <h2>QUARTER 1 AVERAGES</h2>
  <% @categories.each do |category| %>
  <div class="knobs col-md-3">
    <h3><%= category.content %></h3>
    <input class="knob" data-fgColor="#87CEEB" data-thickness=".3" data-readOnly=true value="<%= category_average_student(category, nil, 1) %>">
  </div>
  <% end %>

  <hr class="col-md-12">

  <h2>QUARTER 1 TEACHER VS SELF-ASSESSMENT</h2>
  <div class='chart col-md-12'></div>
  <hr class="col-md-12">

  <h2>QUARTER 1 RAW DATA</h2>
  <% @categories.each do |category| %>
  <table class="footable" data-filter="#filter" data-page-size="5">
  <tr><td><%= category.content %></td></tr>
    <% category.char_strengths.each do |char_strength| %>
      <tr>
        <td class="char-strength-td"><%= char_strength.content %></td>
        <td><%= category_average_student(char_strength, nil, 1) %></td>
        <% raw_ratings_for_student(char_strength, 1).each do |rating| %>
          <td><%= rating.number %><span class="rater-name"> | <%= rating.rater.last_name %></span></td>
        <% end %>
      </tr>
    <% end %>

  </table>
  <% end %>


