<div class="currentQuarter">1</div>

<div class="col-md-8">
  <h3>Overview</h3>
    <p><span class="col-md-4">Academic Semester:</span> 1 </p>
    <p><span class="col-md-4">Total Graders:</span> <%= all_graders(@student, 1).length %></p>
</div>
<div class="col-md-4">
  <h3>Semester Grade Point</h3>
  <h2 class="cumulative-grade"><%= cumulative_average(@student, 1) %></h2>
</div>

<hr class="col-md-12">

<h1>Character Strength Categories</h1>
<% @categories.each do |category| %>
  <div class="knobs col-xs-6 col-md-3">
    <h3><%= category.content %></h3>
    <input class="knob" data-fgColor="#87CEEB" data-thickness=".3" data-readOnly=true value="<%= category_average_student(category, nil, 1) %>">
  </div>
<% end %>

<hr class="col-md-12">

<h1>Teacher | Self-Assessment</h1>
<div class='chart col-md-12'></div>

<hr class="col-md-12">

<h1>Report Card Grades</h1>

<table class="footable" data-filter="#filter" data-page-size="5">
   <thead>
    <tr>
      <th data-sort-ignore="true">Category</th>
      <th data-sort-ignore="true">Average</th>
      <th data-hide="phone,tablet" data-sort-ignore="true"></th>
      <th data-hide="phone,tablet" data-sort-ignore="true"></th>
    </tr>
   </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td class="category-name"><%= category.content %></td>
      <td colspan="3"><%= category_average_student(category, nil, 1) %></td>

      <% category.char_strengths.each do |char_strength| %>
    <tr>
      <td><%= char_strength.content %></td>
      <td><%= category_average_student(char_strength, nil, 1) %></td>
      <% raw_ratings_for_student(char_strength, 1).each do |rating| %>
        <td><%= rating.number %> - <%= rating.rater.last_name %></td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
    </tr>

  </tbody>
</table>

<script type="text/javascript">
  $('body').attr('id', 'quarter1');
  $('.category-name').each(function(){
    if($(this).html() == "Zest") {
      $(this).prepend("<i class='icon-thumbs-up-alt icon-large category-icon'></i>");
    } else if ($(this).html() == "Grit") {
      $(this).prepend("<i class='icon-cloud-upload icon-large category-icon'></i>");
    } else if ($(this).html() == "School Work") {
      $(this).prepend("<i class='icon-file-text-alt icon-large category-icon'></i>");
    } else if ($(this).html() == "Interpersonal") {
      $(this).prepend("<i class='icon-group icon-large category-icon'></i>");
    } else if ($(this).html() == "Optimism") {
      $(this).prepend("<i class='icon-smile icon-large category-icon'></i>");
    } else if ($(this).html() == "Gratitude") {
      $(this).prepend("<i class='icon-heart-empty icon-large category-icon'></i>");
    } else if ($(this).html() == "Social Intelligence") {
      $(this).prepend("<i class='icon-comments icon-large category-icon'></i>");
    } else if ($(this).html() == "Curiosity") {
      $(this).prepend("<i class='icon-eye-open icon-large category-icon'></i>");
    } else {
      $(this).prepend("<i class='icon-smile icon-large category-icon'></i>");
    }
  });
  // var a = $('.category-name').html();

</script>
