
  <div class="col-md-6">
    <h3>Report Card Overview</h3>
    <ul>
      <li>Academic Year Cumulative</li>
      <li>Total Graders: <%= all_graders(@student).length %></li>
      <li>Student Name: <%= @student.first_name %> <%= @student.last_name %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Cumulative Grade Point</h3>
    <h1><%= cumulative_average(@student) %></h1>
  </div>

  <hr class="col-md-12">

  <h2>Cumulative AVERAGES</h2>
  <% @categories.each do |category| %>
  <div class="knobs col-md-3">
    <h3><%= category.content %></h3>
    <input class="knob" data-fgColor="#87CEEB" data-thickness=".3" data-readOnly=true value="<%= category_average_student(category) %>">
  </div>
  <% end %>

  <hr class="col-md-12">

  <h2>Cumulative TEACHER VS SELF-ASSESSMENT</h2>
  <div class='chart col-md-12'></div>
  <hr class="col-md-12">

  <h2>Cumulative RAW DATA</h2>
  <% @categories.each do |category| %>
  <table class="footable" data-filter="#filter" data-page-size="5">
  <tr><td><%= category.content %></td><td>Average</td></tr>
    <% category.char_strengths.each do |char_strength| %>
      <tr>
        <td class="char-strength-td"><%= char_strength.content %></td>
        <td><%= category_average_student(char_strength) %></td>
      </tr>
    <% end %>

  </table>
  <% end %>

