<h1>Ratings Index Page</h1>
<% if current_user.type == "Teacher" %>
<!-- --------------------------------TEACHER VIEW------------------------------------- -->


<% else %>
<!-- --------------------------------STUDENT VIEW------------------------------------- -->
<h1>Character Strength Averages</h1>

<h2>Combined Teacher/Student</h2>
<% @categories.each do |category| %>
<ul>
  <li><%= category.content %> Combined Average Rating: <%= category_average(category) %></li>
</ul>
<% end %>

<h2>Combined Teachers</h2>
<% @categories.each do |category| %>
<ul>
  <li><%= category.content %> Teachers Average Rating: <%= category_average(category, "Teacher") %></li>
</ul>
<% end %>

<h2>My Ratings</h2>
<% @categories.each do |category| %>
<ul>
  <li>My <%= category.content %> Ratings: <%= category_average(category, "Student") %></li>
</ul>
<% end %>
<hr>




<!-- <h1>RAW DATA - My Self Assessment:</h1>
<ul>
  <%# @student_ratings.each do |rating| %>
  <li><%#= rating.char_strength.content %>: <%#= rating.number %></li>
  <%# end %>
</ul>

<h1>RAW DATA - Teachers' Assessment:</h1>
<ul>
  <%# @teacher_ratings.each do |rating| %>
  <li><%#= rating.char_strength.content %>: <%#= rating.number %></li>
  <%# end %>
</ul> -->

<% end %>


