<!------ RATINGS PAGE FOR INDIVIDUAL STUDENT ONLY ------->

<% if current_user.type == "Teacher" %>
  <!-- --------------------------------TEACHER VIEW------------------------------------- -->
  <h1>Character Strength Averages for <%= @student.first_name %> <%= @student.last_name %></h1>

  <h2>Combined Teacher/Student</h2>
  <% @categories.each do |category| %>
  <ul>
    <li><%= category.content %> Combined Average Rating: <%= category_average_student(category) %></li>
  </ul>
  <% end %>
  <h2>Combined Teachers</h2>
  <% @categories.each do |category| %>
  <ul>
    <li><%= category.content %> Teachers Average Rating: <%= category_average_student(category, "Teacher") %></li>
  </ul>
  <% end %>

  <h2>Student's Self Assessment</h2>
  <% @categories.each do |category| %>
  <ul>
    <li>My <%= category.content %> Ratings: <%= category_average_student(category, "Student") %></li>
  </ul>
  <% end %>

<% else %>
  <!-- --------------------------------STUDENT VIEW------------------------------------- -->
  <h1>My Character Strength Averages</h1>

  <h2>Combined Teacher/Student</h2>
  <% @categories.each do |category| %>
  <ul>
    <li><%= category.content %> Combined Average Rating: <%= category_average_student(category) %></li>
  </ul>
  <% end %>

  <h2>Combined Teachers</h2>
  <% @categories.each do |category| %>
  <ul>
    <li><%= category.content %> Teachers Average Rating: <%= category_average_student(category, "Teacher") %></li>
  </ul>
  <% end %>

  <h2>My Ratings</h2>
  <% @categories.each do |category| %>
  <ul>
    <li>My <%= category.content %> Ratings: <%= category_average_student(category, "Student") %></li>
  </ul>
  <% end %>

<% end %>


