<!-- -------- RATINGS PAGE FOR INDIVIDUAL STUDENT ONLY ---------- -->
<div class="userId"><%= @student.id %></div>
<div class="student-dashboard col-md-12">
  <% if current_user.type == "Teacher" %>
    <h1>Character Strength Averages for <%= @student.first_name %> <%= @student.last_name %></h1>
  <% else %>
    <h1>My Character Strength Averages</h1>
  <% end %>


  <div class="col-md-6">
    <h3>Report Card Overview</h3>
    <ul>
      <li>Academic Quarter: <%= @current_quarter %></li>
      <li>Total Graders: <%= @total_raters.length %></li>
      <li>Student Name: <%= @student.first_name %> <%= @student.last_name %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Cummulative Grade Point</h3>
    <h1><%= @cumulative_average %></h1>
  </div>

  <hr class="col-md-12">

  <h2>OVERALL AVERAGES (cumulative)</h2>
  <% @categories.each do |category| %>
  <div class="knobs col-md-3">
    <h3><%= category.content %></h3>
    <input class="knob" data-fgColor="#87CEEB" data-thickness=".3" data-readOnly=true value="<%= category_average_student(category) %>">
  </div>
  <% end %>

  <hr class="col-md-12">

  <h2>TEACHER VS SELF-ASSESSMENT (cumulative)</h2>
  <div class='chart col-md-12'></div>

  <hr class="col-md-12">

  <h2>RAW DATA (for current quarter)</h2>
  <% @categories.each do |category| %>
  <table class="footable" data-filter="#filter" data-page-size="5">
  <tr><td><%= category.content %></td></tr>
    <% category.char_strengths.each do |char_strength| %>
      <tr>
        <td class="char-strength-td"><%= char_strength.content %></td>
        <td><%= category_average_student(char_strength, nil, @current_quarter) %></td>
        <% raw_ratings_for_student(char_strength).each do |rating| %>
          <td><%= rating.number %><span class="rater-name"> | <%= rating.rater.first_name %> <%= rating.rater.last_name %></span></td>
        <% end %>
      </tr>
    <% end %>

  </table>
  <% end %>


</div>




