<div class="page-heading">
  <h1>Report Card | Academic Quarter: <%= @current_quarter %></h1>

    <h1><span class="lime-text"><%= gravatar_for @student %> <%= @student.first_name %> <%= @student.last_name %></span></h1>
</div>


<!--  Sends @student.id with form so that in url, it'd look something like /user_id?=1 so in controller, we can acces it with params[:user]-->
<%= form_tag(user_ratings_path(user_id: @student.id, academic_quarter: @current_quarter)) %>
  <% @categories.each do |category| %>
    <div>
    <h3><%= category.content %></h3>
    <ul class="char_strength_rows">
    <% category.char_strengths.each do |char_strength| %>
      <li>
        <%= char_strength.content %>
        <ul class="rating_radio_buttons">
          <li><%= radio_button_tag "rating[#{char_strength.id}][number]", "1" %> 1</li>
          <li><%= radio_button_tag "rating[#{char_strength.id}][number]", "2" %> 2</li>
          <li><%= radio_button_tag "rating[#{char_strength.id}][number]", "3" %> 3</li>
          <li><%= radio_button_tag "rating[#{char_strength.id}][number]", "4" %> 4</li>
          <li><%= radio_button_tag "rating[#{char_strength.id}][number]", "5" %> 5</li>
        </ul>
      </li>
    <% end %>
    </ul>
    </div>
  <% end %>

<%= submit_tag "submit", {class: 'button report-card-button'} %>
