<nav class="main-nav" id="main-nav">
    <%= link_to "Character Labs", root_path, id: "logo" %>
    <ul>
      <% if signed_in? %>
        <li><%= gravatar_for current_user %></li>
        <li class="user_name"><%= current_user.first_name %></li>
        <li class="home"><%= link_to "Home", root_path %></li>
        <% if current_user.type == 'Teacher' %>
          <li class="grade-students"><p><%= link_to "Grade Students", users_path %></p></li>
        <li class="my-dashboard"><p><%= link_to "My Dashboard", ratings_path %></p></li>
        <% else %>
          <li class="grade-students"><p><%= link_to "My Report Card", user_categories_path(current_user) %></p></li>
          <li class="my-dashboard"><p><%= link_to "My Dashboard", user_ratings_path(current_user) %></p></li>
        <% end %>
        <li class="settings"><p><%= link_to "Settings", edit_user_path(current_user) %></p></li>
        <li class="sign-out"><p><%= link_to "Sign out", signout_path, method: "delete" %></p></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
</nav>



