<!DOCTYPE html>
<html ng-app="AngularUsers">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
</head>
<body>

  <% if signed_in? %>
  <%= render 'layouts/off_canvas_nav' %>
  <div class="page-wrap">
    <%= render 'layouts/header' %>
    <div class="errors"><%= render 'layouts/flashMessages' %></div>
    <%= yield %>
    <hr class="hr-hidden col-md-12">
    </div>
  </div>

  <% else %>
  <header class="static-header">
    <div class="static-sign-in">
      <%= link_to 'Sign in', signin_path, class: "button static-btn" %>
    </div>
    <a href="http://localhost:3000/"><h3><%=image_tag 'lab.png', class:"logo"%> CHARACTER LABS</h3></a>
  </header>
  <%= yield %>
  <hr class="hr-hidden col-md-12">
  <% end %>

  <%= render 'layouts/footer' %>

  <script type="text/javascript">
    if($('.sign-in').length > 0) {
      $('.static-sign-in').remove();
    }
  </script>
</body>
</html>
