<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
</head>
<body>
<div class="sticky-footer-wrap">
  <%= render 'layouts/off_canvas_nav' %>
  <div class="page-wrap">
    <%= render 'layouts/header' %>
      <div class="content ratings-index">
      <%= render 'layouts/flashMessages' %>

        <div class="col-md-12">
      <% if @student.nil? %>
        <div class="user-show">
        <h1>
          <%= image_tag @user.avatar.url, class:"gravatar" %>
          <%= @user.first_name %> <%= @user.last_name %>
        </h1>
        </div>
        <div class="mobile-quarter-links">
          <%= link_to "Semester 1", "/dashboard/q1/ratings" %> |
          <%= link_to "Semester 2", "/dashboard/q2/ratings" %> |
          <%= link_to "Academic Year", "/dashboard/cumulative/ratings" %>
        </div>
        <div class="quarter-btn-group">
          <%= link_to "Semester 1", "/dashboard/q1/ratings", class:"button quarter-btn", id:"dash_quarter1"  %>
          <%= link_to "Semester 2", "/dashboard/q2/ratings", class:"button quarter-btn", id:"dash_quarter2"  %>
          <%= link_to "Academic Year", "/dashboard/cumulative/ratings", class:"button quarter-btn", id:"dash_cumulative"  %>
        </div>
        <hr class="hr-hidden col-md-12">
        </div>
          <%= yield %>


      <% else %>
        <div class="userId"><%= @student.id %></div>
        <div class="user-show">
        <h1>
          <%= image_tag @student.avatar.url, class:"gravatar" %>
          <%= @student.first_name %> <%= @student.last_name %>
        </h1>
        <% if @student.ratings.length > 0 %>
        </div>
        <div class="mobile-quarter-links">
          <%= link_to "Semester 1", "/users/" + @student.id.to_s + "/q1/ratings" %> |
          <%= link_to "Semester 2", "/users/" + @student.id.to_s + "/q2/ratings" %> |
          <%= link_to "Academic Year", "/users/" + @student.id.to_s + "/cumulative/ratings" %>
        </div>

        <div class="quarter-btn-group">
          <%= link_to "Semester 1", "/users/" + @student.id.to_s + "/q1/ratings", class:"button quarter-btn", id:"quarter1" %>
          <%= link_to "Semester 2", "/users/" + @student.id.to_s + "/q2/ratings", class:"button quarter-btn", id:"quarter2" %>
          <%= link_to "Academic Year", "/users/" + @student.id.to_s + "/cumulative/ratings", class:"button quarter-btn", id:"cumulative" %>
        </div>
        <hr class="hr-hidden col-md-12">
        <% end %>
          <%= yield %>

      <% end %>
      </div>
    </div>

</div>
<%= render 'layouts/footer' %>

<script type="text/javascript">
$(function () {
  var userId = $('.userId').html();
  var currentQuarter = $('.currentQuarter').html();
//Morris JS Bar Charts
  //Individual student
  $.ajax(
    '/users/' + userId + '/data.json' + '?q=' + currentQuarter,
    {
      success: function(graph_data) {
        var container = $('.chart');
        var colors = ['red','skyblue','green','gold'];
        container.append('<div id="ratings_chart" class="graph" />');
        Morris.Bar({
          element: 'ratings_chart',
          data: graph_data,
          xkey: 'category',
          ykeys: ['student', 'teachers'],
          labels: ['Student', 'Teachers'],
          xLabelAngle: 60
        });
      }
    }
  );

// //Morris JS Bar Charts
//   //Teacher Dashboard
//   $.ajax(
//     '/dashboard/data.json' + '?q=' + currentQuarter,
//     {
//       success: function(graph_data) {
//         var container = $('.chart2');
//         var colors = ['red','skyblue','green','gold'];
//         container.append('<div id="ratings_chart2" class="graph" />');
//         Morris.Bar({
//           element: 'ratings_chart2',
//           data: graph_data,
//           xkey: 'category',
//           ykeys: ['Students', 'Teachers'],
//           labels: ['Students', 'Teachers'],
//           xLabelAngle: 60
//         });
//       }
//     }
//   );
});

</script>

</body>
</html>